body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.margin-bottom {
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

#labels h1, #labels h2, #labels h3,
#labels h4, #labels h5, #labels h6,
#labels p {
  display: inline-block;
  margin-top: 0;
}

.row.margin-bottom .btn {
  margin-bottom: 5px;
}